{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Auth Diaries</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  </head>
  <body hx-boost="true">

    <div id="content">
      {{ if not .User }}
      {{ template "auth-form" }}
      {{ end }}

      {{ if .User }}
      {{ template "user-card" .User }}
      {{ end }}
    </div>

    <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", (event) => {
      document.body.addEventListener('htmx:beforeSwap', function(evt) {
        if (evt.detail.xhr.status === 422) {
          console.log("setting status to paint");
          // allow 422 responses to swap as we are using this as a signal that
          // a form was submitted with bad data and want to rerender with the
          // errors
          //
          // set isError to false to avoid error logging in console
          evt.detail.shouldSwap = true;
          evt.detail.isError = false;
        }
      });
    });
    </script>
  </body>
</html>
{{ end }}

{{ block "auth-form" . }}
<form id="auth-form" hx-post="/api/v1/auth/login" hx-target="#content">
  <div class="form-group">
    <label for="email">
      Email:
      <input type="text" name="email" value="">
    </label>
  </div>
  <div class="form-group">
    <label for="email">
      <label for="password">
        Password:
        <input type="password" name="password" value="">
      </label>
  </div>
  <button type="submit">Login</button>
</form>
{{ end }}

{{ block "user-card" .User }}
<div id="user-card">
  <p>You are now logged in {{ .User.Name }}!</p>
  <button type="button" hx-post="/api/v1/auth/logout" hx-target="#content">Logout</button>
</div>
{{ end }}
