* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  padding: 28px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

label {
  display: flex;
  flex-direction: column;
}

input {
  min-width: 300px;
  margin-top: 8px;
  padding: 4px;
}

button {
  margin-top: 24px;
  padding: 10px 20px;
  border: grey solid 1px;
}

.form-group {
  margin-top: 16px;
}
